body{
    padding: 0px;
    margin: 0px;

}
#page{
    width: 1100px;
    margin: 0 auto;
}
header{
    position: absolute;
    z-index: 1;
    right: 140px;
top: 10px;
color: black;
}
    
aside{
    background-color: white;
    width: 100%;
    height: 100%;
    float: left;
    
}
   .top-right{
    position: relative;
    z-index: 1;
    top: 3px;
    left: 130px;
    border-bottom-left-radius: 20px;
    background-color: black;
    padding: 5px 5px 5px 5px;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bolder;
    
    
}
.top-right a:hover{
    color: yellow;
    text-decoration: none;
}
.top-right a{
    text-decoration: none;
    color: white;
}

    

nav{
    line-height: 18px;
    
    text-align: center;
    font-size: 20px;
}
article{
    position: absolute;
    min-height: 180px;
    width: 100%;
    float: left;
    
    
}
.hinh{
    position: absolute;
    z-index: 1;
    top: 820px;
}
.name{
    position: absolute;
    z-index: 1;
    top: 950px;
    left: 28px;
    font-weight: bolder;
}
.hinh1{
    position: absolute;
    z-index: 1;
    top: 800px;
    left:310px ;
}
.name1{
    position: relative;
    z-index: 1;
    top:825px;
    left: 320px;
    font-weight: bolder;
}
.hinh2{

    position: absolute;
    z-index: 1;
    top: 785px;
    left:650px ;

}
.name2{
    position: relative;
    z-index: 1;
    top: 805px;
    left:700px ;
    font-weight: bolder;



}
.hinh3{
    position: absolute;
    z-index: 1;
    top: 740px;
    left:930px ;


}
.name3{
    position: relative;
    z-index: 1;
    top: 795px;
    left:990px;
font-weight: bolder;

}
.logo{
    position: relative;
    z-index: 1;
    left: 450px;
    
}


h1{
    position:relative;
    z-index: 2;
    top: 590px;
    left: 1px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
    text-align: center;

}
    h3{
        position: relative;
        z-index: 1;
        top: 575px;
        left: 10px;
        color: palevioletred;
        font-family: monospace;
        font-size: 30px;
       font-style: italic;
     outline-style: outset;
     text-align: center;
    }

    



.image img{
    position: absolute;
    
    left: 1000px;
    top: 500px;
    
    z-index: 1;
    
    
}
.image2 img{
    position: absolute;
    display: block;
    
    width: 100%;
    height: 100%;
    
    
    
}
h2{
    position: relative;
    z-index: 1;
    color:black;
    top: 600px;
    font-size: 35px;
    left: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    outline-style: solid;
    text-align: center;
}




.Menu{
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 100px;

}
.menu>ul>li{
    display: inline-block;
    
}
    


.menu>ul>li>a{
    display: block;
}
.menu>ul{
      padding: 0px;
      margin: 0px;
      list-style: none;
      border-radius: 3px;
      background-color: black;
      text-align: center;
    
      
} 
 .menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu>ul>li>a:hover{
    color: yellow;
} 
.menu ul ul{
    position: absolute;
    display: none;
    padding:0px;
    margin: 0px;
    list-style: none;
    border-radius:3px;
width:200px;
 background-color:white;
 box-shadow:0 0 1px gray;

}
.menu ul ul a{
    display:block;
    line-height:30px;
 color:gray;
text-decoration:none;
 font-variant:small-caps;
font-size:larger;
 padding:0 10px;
 background-color: black;

}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
} 
.menu ul ul a:hover{
    background-color:black;
    color: white;
} 
.col-25{
    position: relative;
    z-index: 1;
    width: 25%;
    float: left;
    bottom: 120px;
    
}
.prod{
    
    margin: 3px;
    padding:  3px;
    text-align: center;
    position: relative;
    z-index: 3;

    
}
.prod>.ten{
    font-variant: small-caps;
    color:black;
    position: relative;
    z-index: 2;
    top:950px;
    left: 20px;
    font-size: 15px;

}
.prod1{
    margin: 2px;
    padding: 2px;
    text-align: left;
    position: relative;
    z-index: 1;
}
.ten1{
    font-variant: small-caps;
    color: black;
    position: relative;
    z-index: 2;
    top: 670px;
    left: 10px;
    font-size: 15px;
}

.prod>.the1{
    position: relative;
    z-index: 1;
    top: 680px;
    z-index: 1;
    width: 80%;
    height: 80%;
    left: 1px;
}
.the2{
    position: relative;
    z-index: 1;
    width: 245px;
    top: 390px;
    left: 25px;

}
.prod>.icon{
    position: relative;
    z-index: 1;
    top: 430px;
    left: 80px;
    right: 110px;

}
.prod>.price{
    position: relative;
    z-index: 1;
    top: 638px;
    color: chocolate;
    left: 100px;
    font-size: 14px;

}
.price2{
    position: relative;
    z-index: 1;
    top: 340px;
    left: 200px;
    color: chocolate;
}
.STORY{
position: relative;
z-index: 2;
top: 2px;
width: 100%;
height: 100%;
}
   h4{
       position: absolute;
       z-index: 1;
       top:50px;
       left: 700px;
       font-size: xx-large;
       font-weight: bolder;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-style: italic;
       color: slategray;
       line-height:50px;
       font-variant: small-caps;
       
   } 
    h5{
        position: absolute;
        z-index: 2;
        top:150px;
        left: 490px;
        font-size: 16px;
        font-style: oblique;
        
    }
    h6{
position: relative;
font-size: 16px;
color: black;
margin-right: 240px;
left: 150px;


    }
    .iconss{
        position: relative;
        z-index: 2;
        top: 650px;
        left: 195px;
    }
    .icons1{
        position: relative;
        z-index: 1;
        left: 550px;
        top: 574px;
    }
    .icons2{
        position: relative;
        z-index: 1;
        top: 520px;
        left: 850px;
    }
    .news{
        position: relative;
        z-index: 1;
        width: 20px;
        height: 20px;
        bottom: 45px;
    }
    .neww{
        position: relative;
        z-index: 1;
    outline: lightcyan;
    outline-width: medium;
    }
    
    .now{
        position: relative;
        z-index: 1;
        margin-top: 350px;
        
    }
   
    .new1{
        position: relative;
        z-index: 1;
        top: 50px;
        left: 600px;
    }
    .video2{
        position: absolute;
        z-index: 3;
        top: 2900px;
        left: 750px;
        display: block;
    }
    .new{
        position: relative;
        z-index: 2;
        bottom: 50px;
    }
    
    .col-251{
        position: relative;
        z-index: 1;
        bottom: 350px;
    }
    .footer{
        position: relative;
        z-index: 2;
        clear: both;
        background-color: black;
        font-size: 15px;
        top: 130px;
    }
    .footers{
        position: relative;
        z-index: 3;
        clear: both;
        
        font: size 15px;
        top: 20px;
    }
    p{
        position: relative;
        z-index: 3;
        font-size: 15px;
        left: 350px;
        color: white;
        bottom: 80px;
    }
    .Muahang{
        position: absolute;
        z-index: 1;
        background-color: pink;
        border-radius: 10px;
        width: 100px;
        height: 20px;
        margin-left: 100px;
        margin-top: 600px ;
        color: black;
        font-size: 14px;
    }
    .hang a{
        color: black;
        text-decoration: none;
        font-size: 14px;
    }
    .Muahang .hang a:hover{
        text-decoration: none;
        background-color: yellow;
        position: relative;
        z-index: 1;
    }
    .Muahang>a{
        background-color: yellow;
    }
    .Muahang1{
        position: absolute;
        z-index: 1;
        background-color: pink;
        border-radius: 10px;
        width: 100px;
        height: 20px;
        margin-left: 100px;
        margin-top: 320px ;
        color: black;
        font-size: 14px;
        text-align: center;
    }
    .hang1 a{
        color: black;
        text-decoration: none;
        font-size: 14px;
    }
    .Muahang1 .hang1 a:hover{
        text-decoration: none;
        background-color: yellow;
        position: relative;
        z-index: 1;
    }
    .Muahang1>a{
        background-color: yellow;
    }
    .icon1{
        position: relative;
        z-index: 1;
        top: 430px;
        left: 100px;
    }
    .col-252{
        position: relative;
        z-index: 1;
        bottom: 475px;
        left: 330px;
    }
    .col-251{
        position: relative;
        z-index: 1;
      bottom: 150px;
    }
    .icon2{
        position: relative;
        z-index: 1;
        top: 150px;
        left: 200px;
    }
    .ten2{
        position: relative;
        z-index: 1;
        top: 670px;
        left: 90px;
    }
    .photo{
        position: relative;
        top: 120px;
    }
    .noidung1{
        position: relative;
        z-index: 1;
        margin-top: 650px;
        left: 150px;
        
    }
    .noidung2{
    
        position: relative;
        left: 150px;
    }
    .col-254{
        position: relative;
        z-index: 1;
        top: 800px;
        right: 15px;
        float: left;
        margin: 15px;
        
    }
    
    .name4{
        position: relative;
        top: 200px;
        z-index: 1;
        font-size: 20px;
    }
    .price4{
        left: 90px;
        position: relative;
        z-index: 1;
        bottom: 40px;
        color:peru;
        font-size: 15px;
    }
    .vmenu{
        position: relative;
        z-index: 1;
        padding: 10px;
        margin: 10px;
        list-style: none;
        border-radius: 8px;
        box-shadow: 0 0 5px gray;
        float: right;
        top: 650px;
    }
    .vmenu a{
        background: url('nhóm.jpg') no-repeat  0px center;
        display: block;
        border-bottom:0px dotted orange ;
        color: orange;
        font-variant: small-caps;
        font-size:large;
        text-decoration: none;
        padding: 8px 10px 8px 5px ;
        text-align: center;
        border: 1px dotted orangered;
    }
    
    .vmenu a:hover{
     background: url('hình tròn.png') no-repeat  0px center;
     border-bottom: 0px  dotted white;
     background-color: orangered;
     color: white;
     font-weight: bold;
     text-align: center;
    } 